

.listBoxContainer{
    position: relative;
    color: #111827;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.listButton{
    width: 20rem;
    height: 2.5rem;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: inherit;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: white;
}
.listItems{
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 0;
    border-radius: 8px;
    margin-top: 5px;
    overflow: hidden;
}











.list{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font: inherit;
    
}
.list:hover{
    background-color: hsla(340, 87%, 59%, 0.2)
}
.checkIcon{
    width: 2rem;
    height: 1.5rem;
    color: hsla(340, 87%, 59%, 1);
}








