
.toolItems{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    color: rgb(78, 77, 77);

}
.Toolitem{
    position: relative;
    display: flex;
    height: 4rem;
    border: 1px solid rgb(180, 180, 180);
    align-items: center;
    justify-content: center;
    line-height: 0px;
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
}

.details > h5{
    font-size: 1rem;
}
.toolTip{
    position: absolute;
    right: -10rem;
    text-align: left;
    background-color: black;
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
}
.toolTip::before{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: black;
    position: absolute;
    left: -5px;
    transform: rotate(45deg);
}