body{
  font-family: 'Work Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  /* background-color: #1E1E1E; */
  background-color: #D7D9DD;

/* background: linear-gradient(45deg, hsla(48, 78%, 82%, 1) 0%, hsla(340, 87%, 59%, 1) 100%); */
  overflow-x: hidden;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}