
.accordionContainer{
    max-width: 30rem;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    color: rgb(9, 11, 79);
    transition: 0.6s ease-in-out;
}
.accordion{
    border-radius: 6px;
    width: 100%;
    
}
.accordionHeading{
    padding: 1rem;
    display: flex;
    grid-gap: 10px;
    align-items: center;
    cursor: pointer;
}
.accordionHeading > h3{
    font-weight: 600;
    font-size: 1rem;
}
.addIcon{
    transform-origin: center;
    transition: 0.2s ease-in-out;
}







.accordion:nth-child(1){
    background-color: #FFF6EE;
    border-left: 4px solid #FFC48B;
}
.accordion:nth-child(2){
    background-color: #FAFAFF;
    border-left: 4px solid #B4B3FF;
}
.accordion:nth-child(3){
    background-color: #FFF0F3;
    border-left: 4px solid #FFBEC9;
}
.accordionContent{
    padding:10px;
    padding-left: 3rem;
    margin-bottom: 1rem;
}

